<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.travelagency">

    <!-- App permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- All Activities -->
    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.Activities.trip.TripMapsActivity"
            android:label="@string/title_activity_trips_maps"></activity>
        <activity android:name=".ui.Activities.trip.TripsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.travelagency.ui.Activities.location.LocationsActivity" />
        </activity>
        <activity android:name=".ui.Activities.SettingsActivity" />
        <activity android:name=".ui.Activities.location.DetailsLocationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.travelagency.ui.Activities.location.LocationsActivity" />
        </activity>
        <activity android:name=".ui.Activities.trip.AddTripActivity" />
        <activity
            android:name=".ui.Activities.StartActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Activities.location.AddLocationActivity" />
        <activity android:name=".ui.Activities.trip.DetailsTripActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.travelagency.ui.Activities.trip.TripsActivity" />
        </activity>
        <activity android:name=".ui.Activities.location.LocationsActivity" />
        <activity
            android:name=".ui.Activities.trip.EditTripActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity android:name=".ui.Activities.location.EditLocationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.travelagency.ui.Activities.location.LocationsActivity" />
        </activity>
    </application>

</manifest>